$red: tomato;
$lightPurp: #B768FF;
$tan: #FFCE82;
$lightGreen: #3FCC71;
$lightWhite: #f3f3f3;

h1 {
  font-size: 15vw;
}
h2 {
  font-size: 12vw;
}

button:focus {
  outline: 0;
}

@media (min-width: 580px) {
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 8vw;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 8rem;
  }
}
