h1 {
  font-size: 15vw; }

@media (min-width: 580px) {
  h1 {
    font-size: 10vw; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 10rem; } }

html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Baloo Tamma', cursive, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0; }

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  background-color: #f3f3f3;
  text-align: center;
  align-content: center; }

.nav-logo {
  margin: auto;
  font-size: 2rem; }

.footer {
  display: grid;
  height: 12em;
  width: 100%;
  background-color: #f3f3f3;
  grid-template-areas: "a b c d e f"; }

.mobile-nav {
  display: grid;
  position: sticky;
  bottom: 0;
  height: 4em;
  background-color: red;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2px; }

@media (max-width: 580px) {
  .navbar {
    position: absolute; } }

@media (min-width: 580px) {
  .mobile-nav {
    display: none; } }
