// VARIABLES

@import './_styles.scss';
@import './main.scss';

html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Baloo Tamma', cursive, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  background-color: $lightWhite;
  text-align: center;
  align-content: center;
}

.nav-logo {
  margin: auto;
  font-size: 2rem;
}

.footer {
  display: grid;
  height: 12em;
  width: 100%;
  background-color: $lightWhite;
  grid-template-areas:
  ". a . b . c ."
}

.mobile-nav {
  padding: 0 3em;
  display: grid;
  position: sticky;
  bottom: 0;
  height:4em;
  background-color: $lightWhite;
  border-top: 1px solid lightgray;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2px;
  grid-template-areas:
  "a v b z c"
}
.home-logo {
  grid-area: a;
  font-size: 2rem;
  margin: auto;
  opacity: .6;
}
.target-logo {
  grid-area: b;
  font-size: 2rem;
  margin: auto;
  opacity: .6;
}
.tool-logo {
  grid-area: c;
  font-size: 2rem;
  margin: auto;
  opacity: .6;
}
@mixin line($area) {
  grid-area: $area;
  width: 1px;
  background-color: lightgray;
  height: 100%;
  margin: auto;
}
.v-line {
  @include line(v)
}
.z-line {
  @include line(z)
}
@media (max-width: 580px) {
  .navbar {
    position: absolute;
  }
}

@media (min-width: 580px) {
  .mobile-nav {
    display: none;
  }
}
