@import './_styles.scss';

.featured-block {
  background-color: $lightPurp;
  height: 100vh;
  display: flex;
  align-content: center;
  text-align: center;
}

.title {
  color: $lightWhite;
  margin: auto;
}
