h1 {
  font-size: 15vw; }

@media (min-width: 580px) {
  h1 {
    font-size: 10vw; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 10rem; } }

.featured-block {
  background-color: #B768FF;
  height: 100vh;
  display: flex;
  align-content: center; }

.title {
  color: #f3f3f3;
  margin: auto; }
